body{
    height: 100%;
    width: 100%;
    border: red solid 1px;
}
#main-soundboard {
    /* padding-left: 10%;
    padding-right: 10%; */
    width: 100%;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
}
.flex-pop {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-left: 13%;
    padding-right: auto;
    /* width: fit-content;      */
    /* margin-left: 5%; */
    margin-right: auto;
    /* zoom: 0.75; */
    /* -moz-transform: scale(0.75); */
    align-items: center;
    justify-content: center;
}

.flex-rap {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-left: 16%;
    padding-right: auto;
    /* width: fit-content; */
    /* margin-left: 9%; */
    margin-right: auto;
    /* zoom: 0.75; */
    /* -moz-transform: scale(0.75); */
    align-items: center;
    justify-content: center;
} 

.flex-rock {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-left: 13%;
    padding-right: auto;
    /* width: fit-content; */
    /* margin-left: 12%; */
    margin-right: auto;
    /* zoom: 0.75; */
    /* -moz-transform: scale(0.75); */
    align-items: center;
    justify-content: center;
    
}

.flex-meme {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-left: 14%;
    padding-right: auto;
    /* margin-left: 16%; */
    /* zoom: 0.75; */
    margin-right: auto;
    /* -moz-transform: scale(0.75); */
    /* width: fit-content; */
    align-items: center;
    justify-content: center;
}
.clickable-box {
    height: 120px;
    /* max-height: 120px; */
    width: 120px;
    margin-top: 0.5%;
    background-color: gray;
    /* border: black solid 1px; */
    
}
