#recording-section {
    margin-top: 1%;
    height:10%;
    width: auto;
    background-color: green;
}

#buttonBar {
    display: flex;
    background-color: white;
    height: 30%;

}

#channels{
    height: 100%;
    width: 100%;
    background-color: cyan;
}
#progressBar {
    height: 30%;
    width: 0.5%;
    margin-left: 0%;
    background-color: red;
}